{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}
<div class="post-header">
    <div class="post-title">{{ title }}</div>
    <div class="post-date">{{ formatted_date }}</div>
</div>
<div>
    {{ content }}
</div>
<div class="post-tags">
    {% if tags %}
        <b>Tags:</b>
        {% for tag in tags -%}
            <a href="google.com">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
